{% set pdocs = payload[0] %}
{% set psdict = payload[1] %}
{% if pdocs.length %}
  <div class="section nojs--hide oi33-recent-problems">
    <div class="section__header">
      <h1 class="section__title">{{ _('Recent Problems') }}</h1>
      <div class="section__tools"><a href="{{ url('problem_main', query={sort:'recent'}) }}">查看全部</a></div>
    </div>
    <div class="section__body">
      <ol class="oi33-recent-problems__grid col--problem-name">
        {%- for pdoc in pdocs -%}
          <li>
            <span class="oi33-recent-problems__index">{{ loop.index if loop.index > 9 else '0' + loop.index }}</span>
            <span>{{ problem.render_problem_title(pdoc, show_tags=false, show_invisible_flag=false) }}</span>
            <span class="oi33-recent-problems__arrow" aria-hidden="true">›</span>
          </li>
        {%- endfor -%}
      </ol>
    </div>
  </div>
{% endif %}
