<footer class="footer oi33-footer">
  <div class="row"><div class="columns oi33-footer__inner">
    <div class="oi33-footer__brand">
      <span class="oi33-brand__mark" aria-hidden="true">HJ</span>
      <span>
        <span class="oi33-footer__name">huaji OJ</span>
        <span class="oi33-footer__tagline">专注每一次思考与提交</span>
      </span>
    </div>
    <ul class="oi33-footer__links">
      <li><a href="{{ url('problem_main') }}">题库</a></li>
      {% if handler.user.hasPriv(PRIV.PRIV_USER_PROFILE) %}
        <li><a href="{{ url('record_main', query={uidOrName: handler.user._id if handler.user.oi33_profile_hidden else handler.user.uname}) }}">我的记录</a></li>
      {% else %}
        <li><a href="{{ url('record_main') }}">{{ _('Judging Queue') }}</a></li>
      {% endif %}
      <li><a href="{{ url('status') }}">{{ _('Service Status') }}</a></li>
      <li class="nojs--hide" data-dropdown-target="#menu-footer-theme">
        <span><span class="icon icon-global"></span> {{ _('Theme') }} <span class="icon icon-expand_less"></span></span>
        <ol class="dropdown-target menu" id="menu-footer-theme">
          <li class="menu__item"><a class="menu__link" href="{{ url('set_theme', theme='light') }}">{{ _('Light') }}</a></li>
          <li class="menu__item"><a class="menu__link" href="{{ url('set_theme', theme='dark') }}">{{ _('Dark') }}</a></li>
        </ol>
      </li>
      {%- for html in (handler.domain.ui.footer_extra_html|default('')).split('\n') -%}
        {% if html %}<li>{{ html|safe }}</li>{% endif %}
      {%- endfor -%}
      {%- for html in (model.system.get('ui-default.footer_extra_html')|default('')).split('\n') -%}
        {% if html %}<li>{{ html|safe }}</li>{% endif %}
      {%- endfor -%}
      <li>Powered by <a href="https://hydro.js.org">Hydro</a></li>
    </ul>
  </div></div>
</footer>
