{% set page_name = "oi33_user_password" %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">重置密码</h1>
        <div class="section__tools">
          <a href="{{ url('oi33_admin') }}" class="rounded button">{{ _('Back to Admin') }}</a>
        </div>
      </div>
      <div class="section__body">
        <form method="post" action="{{ url('oi33_admin_user_password') }}">
          <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
          <div class="row" style="margin-bottom:1rem;">
            <div class="medium-6 columns">
              <label>用户（UID 或用户名）
                <input type="text" name="target" class="textbox" placeholder="UID 或用户名" required autofocus>
              </label>
            </div>
            <div class="medium-6 columns">
              <label>新密码
                <input type="password" name="password" class="textbox" placeholder="新密码" required>
              </label>
            </div>
          </div>
          <button type="submit" class="rounded primary button">重置密码</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
