{% set page_name = "oi33_wiki_main" %}
{% extends "layout/oi33_wiki.html" %}
{% block nav_actions %}
{% if (handler.user.realname_flag or 0) >= 2 %}
<li class="nav__list-item">
  <a href="/oi33/wiki/index/edit" class="nav__item">{{ _('Edit') }}</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__body" data-content-toc>
        <div class="oi33-content-toc-controls" data-content-toc-controls hidden>
          <label class="oi33-content-toc-toggle"><input type="checkbox" role="switch" data-content-toc-toggle> 显示目录</label>
        </div>
        <div class="oi33-content-layout" data-content-toc-layout>
          <div class="oi33-content-main typo richmedia" data-content-toc-source>{{ bulletin.content|markdown|safe }}</div>
          <aside class="oi33-content-toc" data-content-toc-aside hidden aria-label="文章目录">
            <div class="oi33-content-toc__title">目录</div>
            <ol class="oi33-content-toc__list" data-content-toc-list></ol>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
